.dropdownWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.dropdownSmallWrapper {
  max-width: 582px;
}

.dropdownLargeWrapper {
  max-width: 1023px;
}

.titleContainer {
  z-index: 1;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titleContainerRounded {
  border-radius: 10px;
}

.titleSmallContainer {
  height: 52px;
}

.titleLargeContainer {
  height: 47px;
}

.dropdownTitle {
  color: var(--secondary-color);
  font-weight: 500;
  padding-left: 20px;
  margin: 0px;
}

.dropdownSmallTitle {
  font-size: 18px;
}

.dropdownLargeTitle {
  font-size: 24px;
}

.icon {
  width: 24px;
  height: 13.71px;
  padding-right: 20px;
  padding-left: 20px;
  transform: rotate(180deg);
}

.rotate {
  transform: rotate(0deg);
}

.answerWrapper {
  display: none;
  padding: 30px 12px 30px 20px;
  border-radius: 5px;
  margin-top: -10px;
  z-index: 0;
  background-color: var(--background-color);
}

.showAnswer {
  display: block;
}

.answerText {
  font-weight: 400;
  margin: 0px;
}

.answerSmallText {
  font-size: 18px;
}

.answerLargeText {
  font-size: 24px;
}

.itemList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

@media screen and (max-width: 1030px) {
  .dropdownSmallWrapper {
    max-width: 100%;
  }

  .titleSmallContainer {
    height: 30px;
  }
  
  .titleLargeContainer {
    height: 30px;
  }

  .dropdownTitle {
    padding-left: 11px;
  }

  .titleContainerRounded {
    border-radius: 5px;
  }

  .dropdownSmallTitle {
    font-size: 13px;
  }
  
  .dropdownLargeTitle {
    font-size: 13px;
  }

  .icon {
    width: 16px;
    height: 9.14px;
    padding-right: 9px;
    padding-left: 9px;
  }

  .answerSmallText {
    font-size: 12px;
  }
  
  .answerLargeText {
    font-size: 12px;
  }

  .answerWrapper {
    padding: 23px 7px 23px 11px;
    border-radius: 5px;
  }
}