.slideshowWrapper {
  position: relative;
  height: 415px;
  margin-bottom: 30px;
}

.slideshowButton {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 15%;
  padding: 0px 23px 0px 23px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slideshowPrevious {
  left: 0px;
  justify-content: flex-start;
}

.slideshowNext {
  right: 0px;
  justify-content: flex-end;
}

.slideshowArrow {
  height: 79px;
}

.slideshowArrowRotate {
  rotate: 180deg;
}

.hide {
  display: none;
}

.slideshowPosition {
  position: absolute;
  bottom: 0px;
  left: 50%;
  padding-bottom: 25px;
  transform: translate(-50%);
}

.slideshowPositionText {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
}

.slideshowPicture {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1030px) {
  .slideshowWrapper {
    height: 255px;
    margin-bottom: 15px;
  }

  .slideshowPicture {
    border-radius: 10px;
  }

  .slideshowPosition {
    display: none;
  }

  .slideshowArrow {
    height: 20px;
  }

  .slideshowButton {
    padding: 0px 6px 0px 6px;
  }
}