.aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 100px 0px 100px;
}

.aboutContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
}

@media screen and (max-width: 1030px) {
  .aboutWrapper {
    margin: 20px 20px 0px 20px;
  }

  .aboutContentWrapper {
    gap: 20px;
  }
}