h1 {
  font-size: 288px;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 36px;
  font-weight: 500;
}

.returnToHome {
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  margin-top: 182px;
  margin-bottom: 80px;
}

.errorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}