.footerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: black;
  padding-top: 66px;
  padding-bottom: 62px;
  margin-top: 50px;
}

.footerLogo {
  width: 122px;
  height: 39px;
}

.footerLogo path {
  fill: var(--secondary-color);
}

.footerCopyright {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 1030px) {
  .footerCopyright {
    font-size: 12px;
  }
}