.avatarWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 64px;
}

.avatarName {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.avatarNameText {
  font-size: 18px;
  font-weight: 500px;
  text-align: right;
  color: #FF6060;
  margin: 0px;
}

.avatarImage {
  width: 64px;
  height: 64px;
  border-radius: 64px;
}