.detailsWrapper {
  margin: 50px 100px 0px 100px;
}

.detailsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detailsTitle {
  margin: 0px;
  font-size: 36px;
  font-weight: 500;
}

.detailsLocation {
  margin: 0px;
  padding-top: 5px;
  font-size: 18px;
  font-weight: 500;
}

.avatarStarsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailsDropdownsWrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: space-between;
} 

@media screen and (max-width: 1030px) {
  .detailsWrapper {
    margin: 20px 20px 0px 20px;
  }

  .detailsTitle {
    font-size: 18px; 
  }

  .detailsLocation {
    font-size: 14px;
    padding-top: 10px;
  }

  .detailsHeader {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .avatarStarsWrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .detailsDropdownsWrapper {
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 16px;
  } 
}