.bannerWrapper {
  position: relative;
  height: 223px;
  overflow: hidden;
  margin-bottom: 43px;
}

.bannerPicture {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
}

.bannerOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.bannerTitle {
  font-size: 48px;
  font-weight: 500;
  color: var(--secondary-color);
}

@media screen and (max-width: 1030px) {
  .bannerWrapper {
    margin-bottom: 22px;
  }

  .smallerBannerOnMobile {
    height: 111px;
  }

  .bannerPicture {
    border-radius: 10px;
  }

  .bannerOverlay {
    position: absolute;
    top: 35%;
    left: 0%;
    transform: translate(10%, -110%);
    text-align: left;
    height: 24px;
    max-width: 217px;
  }

  .bannerTitle {
    font-size: 24px;
  }
}